<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if logged_in? %>
      <h1>You are logged in</h1><br>
      <p><%= current_user.email %></p>

      <form class="logout" action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="logout">
      </form>

    <% else %>
      <h1>You are not logged in</h1>

      <form class="login" action="<%= new_session_url %>" method="get">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="login">
      </form>
      <form class="signup" action="<%= new_user_url %>" method="get">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="signup">
      </form>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
